.input-text {
  .input-group {
    .form-control {
      padding: 0.9375rem;
      outline: none;
      border-right: 0;
      border-left: 0;
      border-top: 0;
      height: 2.5rem;
      border-radius: 0;
      border-bottom: 1.5px solid rgba(169, 169, 169, 0.6);

      &::placeholder {
        color: rgba(169, 169, 169, 0.8);
      }

      &:focus {
        box-shadow: none;
      }
    }

    .input-group-text {
      background-color: #fff;
      height: 2.5rem;
    }
  }
}
