.header__home {
  padding: 1.875rem 0 !important;
  margin-bottom: 3.125rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #fff;
  margin-bottom: 2.5rem;
}

.header {
  padding-top: 1.875rem;
  margin-bottom: 3.125rem;

  @media (min-width: 768px) {
    padding-top: 3.125rem;
  }

  .navbar {
    &-toggler {
      padding: 0;
      border: none;
      outline: none;

      &:focus {
        box-shadow: none;
      }
    }
  }

  ul.navbar-nav {
    .btn__auth {
      padding: 0.625rem 2.1875rem;
      font-size: 1.125rem;
      font-weight: 600;
      border-radius: 0.5rem;
      border: 1px solid #6379f4;

      &.sign-in {
        background-color: transparent;
        color: #6379f4;
      }

      &.sign-up {
        background-color: #6379f4;
        color: #fff;
      }
    }
  }
}
