.profile__card {
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  padding: 3.125rem 1.25rem;
  height: 678px;

  &--content {
    display: flex;
    flex-flow: column;

    @media (min-width: 768px) {
      justify-content: center;
      align-items: center;
    }

    &--head {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      margin-bottom: 3.125rem;

      &--image {
        width: 80px;
        height: 80px;
        border-radius: 0.625rem;
        margin-bottom: 0.625rem;

        .border-inherit {
          border-radius: inherit;
        }
      }

      .btn__edit {
        color: #7a7886;
      }

      h5 {
        margin-top: 0.9375rem;
        margin-bottom: 0.625rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: #4d4b57;
      }

      p {
        margin-bottom: 0;
        color: #7a7886;
      }
    }

    .profile__card--content--body {
      &--inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #e5e8ed;
        padding: 1.25rem;
        border-radius: 0.625rem;
        cursor: pointer;
        margin-bottom: 1.25rem;

        @media (min-width: 768px) {
          min-width: 433px;
        }

        h6 {
          font-size: 1rem;
          font-weight: 700;
          color: #4d4b57;
          margin-bottom: 0;

          @media (min-width: 768px) {
            font-size: 1.125rem;
          }
        }
      }
    }
  }
}
