.home__link {
  padding: 1.25rem;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
  z-index: 3;
  border-top-left-radius: 1.5625rem;
  border-top-right-radius: 1.5625rem;

  @media (min-width: 992px) {
    border-radius: 1.5625rem;
    position: relative;
    height: 678px;
    padding: 3.125rem 2.1875rem;
  }

  &--aside {
    padding: 0;
    margin-bottom: 0;

    @media (max-width: 992px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--list {
      display: flex;
      align-items: center;
      list-style: none;

      @media (min-width: 992px) {
        margin-bottom: 3.125rem;
      }

      &--svg {
        @media (min-width: 992px) {
          margin-right: 1.25rem;
        }
      }

      &.logout {
        @media (min-width: 992px) {
          position: absolute;
          bottom: 0;
        }
      }

      .btn__sidebar--link {
        font-size: 1.125rem;
        color: rgba(58, 61, 66, 0.8);
        text-decoration: none;
        padding: 0;
        font-weight: 700;

        &.active {
          color: #6379f4;
        }
      }
    }
  }
}
